/* CSS for Scott's Website */

body
{
    text-align: center;
    background-image: url('casual.jpg');
    background-attachment: fixed;
    background-color: darkcyan;
    background-position: center;
}

footer
{
	background-color: darkcyan;
}

h1
{
    font-family: 'Raleway', sans-serif;
}

h3
{
    font-family: 'Oxygen', sans-serif;
}

ul
{
	font-size: 23px;
}

table,th,tr,td
{
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
}

th
{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

td
{
    padding: 3px;
}

.media
{
    float: center; 
    width: 400px; 
    height: 330px;
}

.pic
{
    float:  center; 
    width:  60%; 
    height: 70%;
}

.center
{
    margin: auto;
    width: 24%;
    text-align: left;
}

#song
{
	font-family: 'Oxygen', serif;
}

#date
{
	font-size: 26px;
}
#show
{
	background-color: lightblue;
	outline-style: dashed;
	margin: 5px 520px;
}




